
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .formContainer{
        width: 40%;
        background-color: red;

    }
}