@import 'src/assets/styles/colors';
@import 'src/assets/styles/variables';

.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    background-color: $header-background-color;
    padding: 0px $spacing-14;
    position: sticky;
    top: 0px;

    .title {
        color: $naturals-black;
        text-align: right;
        font-family: IRANYekan;
        font-size: $spacing-6;
        font-style: normal;
        font-weight: 800;
        line-height: $spacing-9;
    }

    .actionsWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .buttonText {
            margin-right: $spacing-2;
        }
    }
}