@import 'src/assets/styles/colors';
@import 'src/assets/styles/variables';

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 68px;
    background-color: $header-background-color;
    padding: 0px $spacing-14;
    position: sticky;
    top: 0px;
    flex-wrap: wrap;

    .title {
        color: $naturals-black;
        text-align: right;
        font-family: IRANYekan;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: $spacing-9;
    }

    @media (max-width: 600px) {
        .title {
            font-size: 18px;
            width: 100%;
            text-align: center;
        }
    }
    @media (max-width: 500px) {
        .title {
            font-size: 18px;
        }
    }

    .actionsWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .buttonText {
            margin-right: $spacing-2;
        }
    }
    @media (max-width: 600px) {
        .actionsWrapper{
            width: 100%;
            justify-content: space-between;
        }
    }
}

@media (max-width: 600px) {
    .headerContainer{
        padding: 0 $spacing-4;
    }
}