@import 'src/assets/styles/colors';
@import 'src/assets/styles/variables';

.questionsWrapper {
    padding: 32px 56px 32px 56px;

    .nothingExist {
        margin-right: $spacing-1;
        color: $gray-dark;
        font-family: IranYekan;
        text-align: right;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: $spacing-6;
        text-align: center;
    }

    .suffixWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        >span {
            margin-right: $spacing-1;
            color: $gray-dark;
            text-align: right;
            font-size: 12px;
            font-family: IranYekan;
            font-style: normal;
            font-weight: 700;
            line-height: $spacing-6;
        }
    }
}