@import 'src/assets/styles/colors';

.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    background-color: $header-background-color;
    padding: 0px 56px;

    .actionsWrapper{
        display: flex;
        flex-direction: row;
        align-items: center;

        .userWrapper{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 40px;

            .username{
                margin-right: 12px;
            }
        }
    }
}