@import 'src/assets/styles/colors';
@import 'src/assets/styles/variables';

.questionWrapper {
    margin-top: $spacing-8;
    padding: 0px $spacing-14;

    .suffixWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .reactionWrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 15px;
        }

        span {
            margin-right: $spacing-1;
            color: var(--gray-dark, #777);
            text-align: right;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: $spacing-6;
        }
    }

    .answersWrapper {
        display: flex;
        flex-direction: column;

        .title {
            margin-top: $spacing-6;
            color: $naturals-black;
            text-align: right;
            font-family: IRANYekan;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
        }

        .answerCardsWrapper {
            margin-top: $spacing-4;
        }
    }

    .addNewAnswerWrapper {
        margin-top: $spacing-6;
        display: flex;
        flex-direction: column;
        margin-bottom:  $spacing-10;

        .title {
            margin: 0px;
            color: $naturals-black;
            text-align: right;
            font-family: IRANYekan;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: $spacing-9;
        }
    }
}

@media (max-width: 600px) {
    .questionWrapper{
        margin-top: $spacing-4;
        padding: 0px $spacing-4;
        .suffixWrapper{
            margin-right: $spacing-3;;
            .reactionWrapper {
                margin-right: $spacing-1;
            }
        }
    }
}