
@import 'src/assets/styles/colors';

.input_style{
    border-radius: 8px;
    outline: none;
    border: 1px solid $light-gray;
    padding: 12px; //TODO: all spaces should be variable
    font-size: 14px;
    font-weight: 600;
}