@import 'src/assets/styles/colors';
@import 'src/assets/styles/variables';

.input_style {
    border-radius: 8px;
    outline: none;
    border: 1px solid $light-gray;
    padding: $spacing-3;
    color: ﷼naturals-black;
    text-align: right;
    font-family: IRANYekan;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: $spacing-5;
}