
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    >div{
        width: 400px;
        >h1{
            font-family: iranYekan;
            font-weight: 400;
        }
    }
}