
.button{
    border-radius: 8px;
    outline: none;
    border: 1px solid #00aeff;
    padding: 8px 21px;
    background-color: #026a9b;
    cursor: pointer;
    color: #fff;
    .buttonChildren{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.button:disabled{
    opacity: 0.6;
    cursor: default
}

.button_info{
    @extend .button;
}

.button_success{
    @extend .button;
    border: 1px solid #27AE60;
    background-color: #27AE60;
}

.button_danger{
    @extend .button;
    border: 1px solid #d00303;
    background-color: #760000;
}

.button_outline{
    @extend .button;
    border: none;
    background-color: transparent;
    color: #27AE60;
}