@import 'src/assets/styles/colors';

.button {
    border-radius: 8px;
    outline: none;
    border: 1px solid $blue;
    padding: 8px 21px;
    background-color: $blue;
    color: $white;
    cursor: pointer;

    .buttonChildren {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        >span {
            text-align: center;
            font-family: IRANYekan;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
        }
    }
}

.button:disabled {
    opacity: 0.6;
    cursor: default
}

.button_info {
    @extend .button;
}

.button_success {
    @extend .button;
    border: 1px solid $green;
    background-color: $green;
}

.button_danger {
    @extend .button;
    border: 1px solid $red;
    background-color: $red;
}

.button_outline {
    @extend .button;
    border: none;
    background-color: transparent;
    color: $green;
}

.button_bordered_outline {
    @extend .button;
    border: 1px solid $lighter-gray;
    background-color: transparent;
}

.button_success_bordered_outline {
    @extend .button;
    border: 1px solid $green;
    background-color: transparent;
    color: $green;
}

.button_danger_bordered_outline {
    @extend .button;
    border: 1px solid $red;
    background-color: transparent;
    color: $red;
}