@import 'src/assets/styles/colors';
@import 'src/assets/styles/variables';

.dateWrapper {
    display: flex;
    flex-direction: row;

    .title {
        color: $gray-dark;
        text-align: right;
        font-family: IRANYekan;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: $spacing-6;
        margin-left: $spacing-2;
    }

    .date {
        color: $naturals-black;
        text-align: right;
        font-family: IRANYekan;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: $spacing-6;
        margin-right: $spacing-2;
    }

    .divider {
        width: 1px;
        height: 24px;
        background-color: rgba(0, 0, 0, 0.10);
        margin: 0 $spacing-3;
    }
}