$background-color: #F7F8F9;
$header-background-color: #FFF;

$black: #000;
$naturals-black: #222;
$gray-dark: #777;
$gray-darker: #454545;
$medium-gray: #b7b7b7;
$light-gray: #EEE; 
$lighter-gray: #E4E9EC;
$white: #FFF;
$blue: #026a9b;
$green: #27AE60;
$red: #F16063;
$annotations-error: #F16063;